body {
    background-image: url("bg-image.jpg");
    background-size: cover;
    height: 100vh;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #333;
    padding: 20px;
    height: 40vh;
}

btn {
    margin-top: 20px;
}

.code-snippet{
    background-color: #333;
    color: lightgreen;
    padding: 20px;
    height: 40vh;
}

.code-snippet pre {
    background-color: #333;
    color: lightgreen;
    padding: 10px;
}

.code-snippet button {
    margin-top: 20px;
    width: 100%;
}

.jumbotron-fluid {
    padding-top: 10%;
    padding-bottom: 10%;
    background-size: cover;
}

textarea {
    height: 300px; /* adjust as needed */
}

footer {
    background-color: #333;
    color: lightgreen;
    padding: 1rem;
    text-align: center;
}

.right-side-container {
    position: relative;
}

.copy-to-clipboard-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#copyBtn{
    margin-top: 19em;
}

#submitBtn{
    margin-top: 2.5em;
}

#textI{
    color: lightskyblue;
}

label{
    color: white;
}

.code-snippet{
    border-radius: 40px;
}